include ../layout

block content
    .row
        .card.col-5.p-0
            .card-header.border-bottom
                h6.m-0.header-text Create new client
            .card-body
                form(method="post")
                    .form-group
                        label(for='inputCName') Client Name
                        input#inputCName.form-control(type='cname', aria-describedby='emailHelp', placeholder='Name...' name="cname")
                        small#emailHelp.form-text.text-muted We would not share your Name.
                    .form-group
                        label(for='inputAge') Age
                        input#inputAge.form-control(type='age', placeholder='Year...', name="age")
                    .form-group
                        label(for='selectCategory') Car Name
                        select#selectCategory.form-control(type='select', placeholder='Select an option', name="name")
                            option(value="0") Select an option..
                            each cat in name
                                option #{cat.name}

                    .form-group
                    button.btn.btn-success(type='submit') Save


