include ../layout

block content
    .row
        .card.lo-stats.h-100.col-5.p-0
            .card-header.border-bottom
                h6.m-0.header-text Edit Player
                .block-handle
            .card-body
                form(method="post")
                    .form-group
                        label(for='inputCName') Client Name
                        input#inputCName.form-control(type='cname', aria-describedby='nameHelp', placeholder='Name...' name="cname", value=clients.cname)
                    .form-group
                        label(for='inputAge') Age
                        input#inputAge.form-control(type='age', placeholder='Age...', name="age", value=clients.age)
                    .form-group
                        label(for='selectCategory') Car Name
                        select#selectCategory.form-control(type='select', placeholder='Select an option', name="name")
                            option(value="0") Select an option...
                            each cat in name
                                if(clients.name==cat)
                                    option(selected) #{cat.name}
                                else
                                    option(selected) #{cat.name}
                    button.btn.btn-success(type='submit') Save