doctype html
html
    head
        title=title
        link(rel='stylesheet' href='/stylesheets/style.css' type='text/css')
        link(rel='stylesheet' href='/css/bootstrap.css' type='text/css')
        link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.css' type='text/css')
    body
        nav.navbar.navbar-expand-lg.navbar-dark.mb-4.bg-navbar
            a.navbar-brand(href='/dashboard') Car Store
            img.d-inline-block.align-top(src='/img/lmqueen.png', width='50', height='50', alt='Kuchao')
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNavDropdown', aria-controls='navbarNavDropdown', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarNavDropdown.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item
                        a.nav-link(href='/car/list/1')
                            | Cars
                            span.sr-only (current)
                    li.nav-item
                        a.nav-link(href='/client/list/1')
                            | Clients
                            span.sr-only (current)
                    li.nav-item
                        a.nav-link(href='/alert/listAlert') Alerts
                    li.nav-item.dropdown
                        a#navbarDropdownMenuLink.nav-link.dropdown-toggle(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                            | Dropdown link
                        .dropdown-menu(aria-labelledby='navbarDropdownMenuLink')
                            a.dropdown-item(href='#') Action
                            a.dropdown-item(href='#') Another action
                            a.dropdown-item(href='#') Something else here
        block content