body{
    background-color: dimgrey !important;
}
nav{
    background-color: black !important;
}
.card.lo-stats.h-100.col-7.p-0{
    margin: 60px !important;
}
.card.col-5.p-0{
    margin: 60px !important;
}
.card.h-100.col-5.p-0{
    margin: 60px !important;
}
a.navbar-brand{
    color: green !important;
}