include ../layout

block content
    .row
        .card.col-5.p-0
            .card-header.border-bottom
                h6.m-0.header-text Create new car
            .card-body
                form(method="post")
                    .form-group
                        label(for='inputName') Car Name
                        input#inputName.form-control(type='name', aria-describedby='emailHelp', placeholder='Name...' name="name")
                        small#emailHelp.form-text.text-muted All car names are available, no exceptions.
                    .form-group
                        label(for='inputYear') Year
                        input#inputYear.form-control(type='year', placeholder='Year...', name="year")
                    .form-group
                        label(for='inputDescription') Description
                        input#inputDescription.form-control(type='text', placeholder='Description...', name="description")
                    button.btn.btn-success(type='submit') Save
