include ../layout

block content
    .row
        .card.h-100.col-5.p-0
            .card-header.border-bottom
                h6.m-0.header-text Edit Car
                .block-handle
            .card-body
                form(method="post")
                    .form-group
                        label(for='inputName') Car Name
                        input#inputName.form-control(type='name', aria-describedby='emailHelp', placeholder='Name...' name="name", value=cars.name)
                        small#emailHelp.form-text.text-muted We would not share your Name.
                    .form-group
                        label(for='inputYear') Year
                        input#inputYear.form-control(type='year', placeholder='Year...', name="year", value=cars.year)
                    .form-group
                        label(for='inputDescription') Description
                        input#inputDescription.form-control(type='text', placeholder='Device...', name="description", value=cars.description)
                    button.btn.btn-success(type='submit') Save
