include ../layout

block content
    .row
        .card.lo-stats.h-100.col-7.p-0
            .card-header.border-bottom
                h6.m-0.header-text All Cars
                .block-handle
            .card-body.p-0
                .container-fluid.px-0
                    table.table.mb-0
                        thead.py-2.bg-light.text-semibold.border-bottom
                            tr.thead-titles
                                th Car Name
                                th Year
                                th Description
                                th Edit
                                th Delete
                                th.text-right(colspan="2")
                                    a(href="/car/create") Add +
                        tbody
                        each car in cars
                            tr.tbody-text
                                td #{car.name}
                                td #{car.year}
                                td #{car.description}
                                td
                                    a.btn.btn-primary(href="../edit/" + car._id)
                                td
                                    a.btn.btn-danger.border-0(href="../delete/" + car._id)

                        nav(aria-label='Page navigation example')
                    ul.pagination.float-right
                        if active == 1
                            a.page-link.previous.disabled(href='/car/list/'+(1), aria-label='Previous')
                                span(aria-hidden='true') Previous
                                span.sr-only
                        else
                            a.page-link.previous(href='./'+(active-1), aria-label='Previous')
                                span(aria-hidden='true') Previous
                                span.sr-only Previous
                        each _, i in Array(pagina)
                            if active == i+1
                                li.page-item.active
                                    a.page-link(href='./'+(i+1))= i+1
                            else
                                li.page-item
                                    a.page-link(href='./'+(i+1))= i+1
                        if active == pagina
                            a.page-link.next.disabled(href='./'+(parseInt(active)), aria-label='Next')
                                span(aria-hidden='true') Next
                                span.sr-only Next
                        else
                            a.page-link.next(href='./'+(parseInt(active)+1), aria-label='Next')
                                span(aria-hidden='true') Next
                                span.sr-only Next


